* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --black: #4D4C59;
    --purple: #6C63FF;
      --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.top-image {
    width: 100%;
    position: absolute;
    top: 0;
}

.titleAndTimer {
    width: 500px;
    height: 172px;
    /* border: 1px solid black; */
    margin: 220px 0 0 120px;
}

.title{
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 0.105em;
    color: var(--purple);
}

.countdown {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;

    margin-top: 20px;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

small {
    font-size: 14px;
    font-weight: 300;
    color: var(--light-grey);

    text-transform: capitalize;
}

h2 {
    font-size: 65px;
    font-weight: 400;
    color: var(--black);
}

.text {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    margin: 46px 0 0 196px;
}

.btn {
    width: 160px;
    height: 46px;
    background: var(--purple);
    border-radius: 10px;

    font-size: 16px;
    font-weight: 400;
    color:#FFFFFF;

    margin-top: 31px;
    margin-left: 290px;
    border: none;
}

.rocket {
    width: 607px;
    height: 435px;
    margin-top: 190px;
}

.loading {
    position: absolute;
    bottom: 200px;
}

.bottom-image {
    position: absolute;
    width: 100%;
    bottom: 0;
}