* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --black: #4D4C59;
    --purple: #6C63FF;
      --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.top-image {
    width: 100%;
    position: absolute;
    top: 0;
}

.titleAndTimer {
    width: 500px;
    height: 172px;
    /* border: 1px solid black; */
    margin: 220px 0 0 120px;
}

.title{
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 0.105em;
    color: var(--purple);
}

.countdown {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;

    margin-top: 20px;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

small {
    font-size: 14px;
    font-weight: 300;
    color: var(--light-grey);

    text-transform: capitalize;
}

h2 {
    font-size: 65px;
    font-weight: 400;
    color: var(--black);
}

.text {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    margin: 46px 0 0 196px;
}

.btn {
    width: 160px;
    height: 46px;
    background: var(--purple);
    border-radius: 10px;

    font-size: 16px;
    font-weight: 400;
    color:#FFFFFF;

    margin-top: 31px;
    margin-left: 290px;
    border: none;
}

.rocket {
    width: 607px;
    height: 435px;
    margin-top: 190px;
}

.loading {
    position: absolute;
    bottom: 200px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 12px;
    color: var(--text-color);
}

/* MODAL */
.modal-overlay {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);

    position: fixed;
    top: 0; /* Comandos para que o modal-overlay ocupe a tela inteira */

    /* Centralizando um item na tela*/
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    z-index: 999;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: #f0f2f5;
    padding: 1rem;
    max-width: 325px;
    height: 250px;
    width: 90%;

    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.modal-form {
    /* border: 1px solid black; */
    width: 200px;
    height: 150px;
    padding: 10px;
}

.modal-signUp {
    font-size: 22px;
    color: var(--purple);
    margin-bottom: 2px;
}

.input-name {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    
}

.input-email {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
}

.btn-cancel {
    width: 90px;
    height: 40px;
    background: var(--purple);
    border-radius: 10px;
    
    font-size: 16px;
    font-weight: 400;
    color:#FFFFFF;
    
    border: none;
}

.btn-submit {
    width: 90px;
    height: 40px;
    background: var(--purple);
    border-radius: 10px;
    
    font-size: 16px;
    font-weight: 400;
    color:#FFFFFF;
    
    border: none;
}